
@media only screen
and (max-width: 1139px) {
    .header .topBar {
        width: 100%;
        height: 45px;
        position: absolute;
        top: 0;
        left: 0;
        color: black;
        display: inline-block;
        margin-top: 10px;
        padding-top: 0;
    }

    .topBar .mobile_menu {
        display: inline-block;
        color: black;

    }

    .topBar .title {
        font-size: unset;
        float: left;
        padding-left: 4%;
        color: black;
        color: black;
        height: 100%;
        margin-top: 5px;
        position: relative;
        width: 46%;
    }

    .header {
        margin-top: 60px;
        background-size: cover;
        background-position: center;
        z-index: 1;
    }

    .respmenu {
        width: 50%;
        float: left;
        display: inline-block;
    }

    .header .menu {
        display: none;
    }

    .respmenu .text {
        width: 30%;
        float: left;
        height: 100%;
    }

    .respmenu .hamburger {
        float: right;
        margin-right: 20%;
        cursor: pointer
    }

    .header .info {
        font-size: 20px;
    }

    .header .name {
        font-size: 70px;
    }

    .education {
        font-size: unset;
    }

    .workExperience {
        font-size: unset;
    }

    .block .inner {
        width: 90%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .main .block .inner .text {
        line-height: normal;
        font-size: unset;
    }

    .main .block .one {
        width: 45%;
        float: left;
        height: 100%;
    }

    .main .block .two .img {
        height: 75%;
        width: 100%;
        background: no-repeat center;
        background-size: cover;
    }

    .main .block .two {
        width: 50%;
        float: left;
        height: 100%;
        padding-left: 5%;
    }

    .header .mobile_menu li {
        cursor: pointer;
        padding-bottom: 3%;
        padding-right: 0;
        display: block;
        padding-top: 3%;
    }

    .header .mobile_menu {
        display: none;
        width: 100%;
        background-color: #FFF;
        list-style-type: none;
        padding-left: 4%;
        float: left;
        height: unset;
        font-size: unset;
        text-align: unset;
        border-top: 1px solid black;
        z-index: 2;
        position: relative;
    }

    .list {
        padding-top: 5%;
    }

    .experiences .block .inner .two .title {font-size: unset; }
    .experiences .block .inner .one .title {font-size: unset; }

    .project img {
        width: 100%;
        height: 250px;
        padding-top: 30px;
    }

    .project #title {
        font-size: unset;
        font-weight: bold;
    }

}

@media (max-width: 296px) {

}
